
.about-me-container {
    /* margin: 5px 0; */
    display: flex;
    flex-direction: column;
    color: #FFF;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    gap: 30px;
    padding: 30px;
    position: relative;
    background: linear-gradient(13deg, rgba(211,240,244,1) 35%, rgba(59,153,186,1) 100%);
    box-shadow: 0 0 5px 10px  linear-gradient(13deg, rgba(211,240,244,1) 35%, rgba(59,153,186,1) 100%);
}

.h1 {
    position: relative;
    left: -100%;
    opacity: 0;
    transition: .75s all linear; 
}

.h1.title-visible {
    left: 0;
    opacity: 1;
    color: #D3F0F4;
}

.video-about-me {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
}

.about-me-item {
    /* z-index: 2; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    left: 100%;
    justify-content: space-between;
    transition: .75s all linear;
    opacity: 0;
    overflow: hidden;
    gap: 2rem;
    padding: 20px 30px;
    background-color: #3B99BA;
    box-shadow: 10px 10px 3px 1px #C3C31D;
    border-radius: 20px 0 20px 0;
}

.about-me-item.visible {
    opacity: 1;
    left: 0;
}

.details {
    list-style: none;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.details p {
    margin: 0;
}

.my-data-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

.my-data-item i {
    color: #C3C31D;
    width: 20px;
    font-size: 18px;
}

.study span {
    color: rgb(179, 179, 179);
}

@media (min-width: 768px) {
    .about-me-container {
        height: 80vh;
    }

    .about-me-item {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 800px;
    }

    .description {
        width: 40%;
    }

    .details {
        flex-direction: row;
    }

    .details div {
        width: 30%;
    }
}